---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = 'Home';
---

<BaseLayout pageTitle={pageTitle}>
  <h2>My awesome blog subtitle</h2>
  <h3>Hi Ryan :)</h3>
  <p>Testing 1, 2, 3...</p>
</BaseLayout>
